.register-container {
  width: 400px;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

mat-form-field {
  width: 100%;
}

.snackbar-success {
  background-color: #4caf50;
  color: white;
}

.snackbar-error {
  background-color: #f44336;
  color: white;
}
