.bg-success {
  background-color: #01172e !important;
}

.text-success {
  color: #01172e !important;
}

.btn-light.text-success {
  color: #01172e !important;
  border-color: #01172e !important;
}
.btn-success {
  background-color: #01172e !important;
  border-color: #01172e !important;
}

.navbar-brand img {
  height: 80px; /* Ajusta según necesites */
  width: auto; /* Mantiene la proporción */
}


.btn-success:hover {
  background-color: #022347 !important;
  border-color: #022347 !important;
}
