<div class="container">
    <!-- Encabezado con el botón alineado a la derecha -->
    <div class="header">
        <h2 class="mt-4">Lista de Usuarios</h2>
        <a routerLink="/agregarusuario" class="btn btn-success">
            <i class="fas fa-plus"></i> Agregar Usuario
        </a>
    </div>

    <!-- Tabla de usuarios -->
    <div class="table-responsive">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Correo</th>
                    <th>Teléfono</th>
                    <th>Dirección</th>
                    <th>Rol</th>
                    <th>Fecha de Creación</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usuario of usuariosFiltrados">
                    <td>{{ usuario.nombre }}</td>
                    <td>{{ usuario.apellidos }}</td>
                    <td>{{ usuario.correo }}</td>
                    <td>{{ usuario.telefono }}</td>
                    <td>{{ usuario.direccion }}</td>
                    <td>{{ usuario.rol }}</td>
                    <td>{{ usuario.fecha_creacion | date }}</td>
                    <td>
                        <button class="btn btn-primary btn-sm" (click)="editarUsuario(usuario)">
              <i class="fas fa-edit"></i> Editar
            </button>
                        <button mat-button color="warn" (click)="eliminarUsuario(usuario)">
              <i class="fas fa-trash"></i> Eliminar
            </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>