<div class="container">
    <!-- Encabezado con el botón alineado a la derecha -->
    <div class="d-flex justify-content-between align-items-center mt-4">
        <h2>Lista de Usuarios</h2>
        <a routerLink="/admin/agregarusuario" class="btn btn-success ms-auto">
            <i class="fas fa-plus"></i> Agregar Usuario
        </a>
    </div>

    <!-- Tabla de usuarios -->
<div class="table-responsive">
    <table class="table table-hover">
      <thead class="table-dark">
        <tr>
          <th>Nombre</th>
          <th>Apellidos</th>
          <th>Correo</th>
          <th>Teléfono</th>
          <th>Dirección</th>
          <th>Rol</th>
          <th>Fecha de Creación</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let usuario of usuariosFiltrados">
          <td>{{ usuario.nombre }}</td>
          <td>{{ usuario.apellidos }}</td>
          <td>{{ usuario.correo }}</td>
          <td>{{ usuario.telefono }}</td>
          <td>{{ usuario.direccion }}</td>
          <td>{{ usuario.rol }}</td>
          <td>{{ usuario.fecha_creacion | date }}</td>
          <td>
            <button class="btn btn-primary btn-sm me-2" (click)="editarUsuario(usuario)">
              <i class="fas fa-edit"></i> Editar
            </button>
            <button class="btn btn-danger btn-sm" (click)="eliminarUsuario(usuario)">
              <i class="fas fa-trash"></i> Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="usuariosFiltrados.length === 0" class="text-center text-muted mt-3">
      No hay usuarios disponibles.
    </div>
  </div>
</div>