<div class="container-fluid px-4">
  <app-breadscrumb [breadScrumbText]="breadText"></app-breadscrumb>
  <div class="card mb-4">
    <div class="card-body">
      <p class="mb-0">
       Carga inicial en la página
      </p>
      <app-textoinp label="Nombre"
              placeholder="Ingrese su nombre"
              [type]="'text'"
              [validation]="'letters'"
              (valueChange)="onValueChangenombre($event)">
      </app-textoinp>
      <app-textoinp label="Edad"
              placeholder="Ingrese su edad"
              [type]="'text'"
              [validation]="'numeric'"
              (valueChange)="onValueChangeedad($event)">
      </app-textoinp>
    </div>
  </div>

  <div class="card mb-4"><div class="card-body">When scrolling, the navigation stays at the top of the page. This is the end of the static navigation demo.</div></div>
</div>
