/* Estilos generales */
body {
  font-family: sans-serif;
  margin: 0;
  padding: 20px;
}

.venta {
  max-width: 800px;
  margin: 0 auto;
}

/* Estilos para el cliente */
.cliente {
  margin-bottom: 20px;
}

.example-form {
  display: flex;
  flex-direction: column;
}

.example-full-width {
  width: 100%;
}

.cliente table {
  width: 100%;
}

.campo {
  margin-top: 10px;
}

/* Estilos para la búsqueda de producto */
.producto-busqueda {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.producto-busqueda mat-form-field {
  flex-grow: 1;
  margin-right: 10px;
}

/* Estilos para la tabla de productos */
.product-table {
  width: 100%;
  border-collapse: collapse;
}

.product-table th, .product-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  white-space: nowrap; /* Evita el salto de línea en las celdas */
}

.product-table th {
  background-color: #f2f2f2;
}

/* Estilos para los totales */
.totales {
  margin-top: 40px;
  text-align: right;
  font-weight: bold;
}

/* Estilos para los botones */
.botones {
  margin-top: 10px;
  display: flex;
  justify-content: right;
}

.action-button {
  min-width: 120px;
}

.table-container {
  max-height: 300px; /* Ajusta la altura máxima según tus necesidades */
  overflow-y: auto;  /* Habilita el scroll vertical cuando sea necesario */
}

.venta-container {
  margin: 30px; /* Aplica un margen de 30px a todos los lados */
}

.red-button {
  background-color: #c82333!important;
  color: white !important;
}

.green-button {
  background-color: #28a745!important;
  color: white !important;
}