.factura {
  width: 90%;
  margin: 20px auto;
  border: 1px solid #ccc;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.encabezado, .cliente, .totales, .botones {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.campo {
  flex: 1;
  padding: 5px;
  font-size: 14px;
}

.producto-busqueda {
  display: flex;
  margin-bottom: 10px;
}

.input-field {
  flex: 1;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-right: 10px;
  font-size: 14px;
}

.action-button {
  font-size: 14px;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  font-size: 14px;
}

th {
  background-color: #f2f2f2;
}

.totales {
  margin-top: 20px;
}

.botones button {
  margin-right: 10px;
}